@media (max-width: 576px) {
  table.table td, table.table th {
   padding: 0.75rem !important;
    font-size: 0.95rem;
  }
  button.btn-sm {
    padding: 0.25rem 0.4rem;
    font-size: 0.75rem;
  }
}
